/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");

body {
    line-height: 1.5;
    font-family: "Muli", sans-serif;
}

.btn {
    height: 30px;
    right: 0;
    top: 5px;
    border-radius: 1px;
}

p, li, input, select, button {
    font-family: "Muli", sans-serif;
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: 600;
    color: #333;
}

p {
    color: #666;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    color: #888;
}

label {
    font-size: 14px;
    letter-spacing: 0;
    color: #848484;
}



@media (max-width: 480px) {
    .nav-pills .nav-link {
        font-size: 12px;
    }
}




@media (max-width: 768px) {
    .nav-pills.transparent .nav-link {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .nav-pills.transparent .nav-link {
        font-size: 12px;
    }
}

.nav-pills.transparent .nav-link.active {
    background: transparent;
    color: #666;
}

ul.pagination li {
    margin-right: 10px;
}

ul.pagination li a {
    border-radius: 3px !important;
    font-size: 16px;
    padding: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-color: transparent;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    color: #666;
}

ul.pagination .active a {
    background-color: #5672f9 !important;
    color: #fff !important;
    border-color: transparent !important;
}

ul.social-circle-icons li {
    margin-right: 7px;
}

ul.social-circle-icons li:last-child {
    margin-right: 0;
}

ul.social-circle-icons li a {
    display: block;
    font-size: 15px;
    line-height: 38px;
    color: #5672f9;
    height: 38px;
    width: 38px;
    border: 2px solid #5672f9;
    background: #fff;
    border-radius: 100%;
}

ul.social-circle-icons li a:hover {
    text-decoration: none;
    color: #fff;
    background: #5672f9;
}


@media (max-width: 768px) {
    .store-list {
        margin-bottom: 15px;
    }
}

/**
 *
 * Base Elements
 *
 */
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    transition: all .3s ease-in 0s;
    color: #000;
}

iframe {
    border: 0;
}

a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #5672f9;
}

.form-control {
    border-radius: 2px;
    height: 50px;
    background-color: transparent;
    color: #666;
    box-shadow: none;
    font-size: 15px;
}

.form-control:focus {
    color: #666;
    box-shadow: none;
    border: 1px solid #5672f9;
    background-color: transparent;
}

textarea.form-control {
    padding: 20px;
}

.form-control::-webkit-input-placeholder {
    color: #666;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #666;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #666;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #666;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #666;
}

/* Microsoft Edge */
.mt-20 {
    margin-top: 20px;
}

.btn:focus {
    color: #ddd;
}

.w-100 {
    width: 100%;
}

.margin-0 {
    margin: 0 !important;
}

button {
    cursor: pointer;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.bg-shadow {
    background-color: #fff;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.section {
    padding: 100px 0;
}

.section-sm {
    padding: 70px 0;
}

.overly {
    position: relative;
}

.overly:before {
    content: '';
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-wrapper {
    padding: 70px 0;
}

/**
 *
 * Button Styles
 *
 */
.btn {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding-bottom: 10px;
    border-radius: 4px;
}

.btn-main, .btn-main-sm {
    background: #5672f9;
    color: #fff;
}

.btn-main:hover, .btn-main-sm:hover {
    background: #082de1;
    color: #fff;
}

.btn-main-sm {
    padding: 6px 20px;
    font-size: 12px;
}

.btn-secondary {
    background: #fff;
    color: #000;
    border-color: #fff;
}

.btn-secondary:hover {
    background: #5672f9;
    color: #fff;
    border-color: #fff;
}

.btn-transparent {
    background: transparent;
    color: #5672f9;
    border: 1px solid #5672f9;
}

.btn-transparent:hover {
    background: #082de1;
    color: #fff;
}

.btn-transparent-white {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-transparent-white:hover {
    background: #fff;
    color: #848484;
}

.btn-group .btn i {
    font-size: 16px;
    line-height: 40px;
}

.btn-group .btn:focus {
    color: #d0d0d0;
}

.btn-group .btn-transparent {
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    padding: 0;
    width: 40px;
}

.btn-group .btn-transparent:hover {
    color: #e6b322;
    background: transparent;
}

.btn-active {
    color: #e6b322;
}

.btn:focus {
    color: #5672f9;
    box-shadow: none;
}

/**
 *
 * Card Styles
 *
 */
.card-main {
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.mb-30 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.border-bottom {
    border-bottom: 1px solid #dedede;
}

.bl-none {
    border-left: none !important;
}

.alt-color {
    color: #c7c7c7;
}

.success {
    color: #1fcc2e;
}

.page-title {
    background: #5672f9;
    padding: 35px 0;
}

.page-title h3 {
    color: #fff;
    font-size: 42px;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
}

ul.pagination li {
    margin-right: 10px;
}

ul.pagination li a {
    font-weight: 600;
    border-radius: 3px !important;
    font-size: 16px;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-color: transparent;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    color: #666;
}

ul.pagination li a:hover {
    background-color: #5672f9 !important;
    color: #fff !important;
    border-color: transparent !important;
}

ul.pagination .active a {
    background-color: #5672f9 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.page-search {
    background: #213b52;
    padding: 30px 0;
}

.page-search .advance-search .form-group {
    margin-bottom: 0;
}

.page-search .advance-search .form-control {
    border: 1px solid #fff;
    color: #fff;
}

.page-search .advance-search ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.page-search .advance-search ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.page-search .advance-search :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.page-search .advance-search :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.bg-light {
    background: #fff;
}

.bg-gray {
    background: #F5F5F5;
}

.bg-1 {
    background: url("../images/home/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-2 {
    background: url(../images/subscription/subscription-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-3 {
    background: url(../images/call-to-action/cta-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-4 {
    background: #5672f9;
}

.navigation {
    padding: 20px 0;
}

.navigation .navbar-nav {
    text-align: center;
}

.login-button {
    border: 2px solid #dedede;
    margin-right: 8px;
    padding: 6px 20px !important;
}

@media (max-width: 400px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0;
    }
}

@media (max-width: 768px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0;
    }
}

@media (max-width: 992px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0;
    }
}

.add-button {
    background: #28a745;
    color: #fff;
    padding: 8px 20px !important;
    display: inline-block;
}

.add-button:hover {
    color: #fff;
}







.user-dashboard-profile {
    text-align: center;
}

.user-dashboard-profile .profile-thumb img {
    width: 130px;
    height: auto;
    border: 5px solid #F4F7F9;
}

.user-dashboard-profile h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.user-dashboard-profile .member-time {
    color: #888;
    font-size: 12px;
    margin-bottom: 3px;
}

.user-dashboard-profile .btn-contact {
    background: #1FCA6B;
}

.user-dashboard-profile .btn-offer {
    background: #373C4D;
}

.dashboard-container .product-dashboard-table thead th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .4px;
}

.dashboard-container .product-dashboard-table td {
    vertical-align: middle;
    padding: 40px 0;
}

.dashboard-container .product-thumb {
    width: 15%;
}

.dashboard-container tbody tr:hover .action a {
    color: #fff;
}

.dashboard-container tbody tr:hover .action a.edit {
    background: #59d659;
}

.dashboard-container tbody tr:hover .action a.view {
    background: #50c6e9;
}

.dashboard-container tbody tr:hover .action a.delete {
    background: #ff5252;
}

.dashboard-container .product-details {
    width: 45%;
}

.dashboard-container .product-details span {
    display: block;
    font-size: 14px;
    color: #848484;
}

.dashboard-container .product-details span strong {
    color: #666;
    width: 30%;
    display: inline-block;
}

.dashboard-container .product-details .title {
    font-size: 16px;
}

.dashboard-container .product-details .status.active {
    color: #59d659;
}

.dashboard-container .product-category {
    width: 15%;
    text-align: center;
}

.dashboard-container .action {
    width: 20%;
    text-align: center;
}

.dashboard-container .action a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    color: #363b4d;
    text-align: center;
    display: inline-block;
}

.dashboard-container .action a:hover {
    color: #fff;
}

.dashboard-container .action a:hover.delete {
    background: #ff5252;
}

.dashboard-container .action a i {
    line-height: 40px;
}

.dashboard-container .action .list-inline .list-inline-item:not(:last-child) {
    margin-right: 0px;
}

.dashboard-container .action .edit {
    background: #f7f7f7;
}

.dashboard-container .action .view {
    background: #f7f7f7;
}

.dashboard-container .action .delete {
    background: #f7f7f7;
}

.submit-coupon .form-control, .submit-coupon .sbHolder {
    margin-bottom: 30px;
}

.submit-coupon button {
    margin-top: 20px;
}

.deals-categories {
    padding: 100px 0 0 0;
}

.deals-categories .border-bottom {
    padding-bottom: 70px;
}

@media (max-width: 768px) {
    .hero-area-2 {
        padding: 60px 0;
    }
}

.search-result {
    padding: 20px;
    margin-bottom: 20px;
}

.search-result p {
    margin: 0;
}

.category-search-filter {
    background: #f7f7f7;
    padding: 20px;
}

.category-search-filter strong {
    margin: 0 5px;
}

.category-search-filter .view {
    text-align: right;
}

.category-search-filter .view ul {
    display: inline-block;
}

.category-search-filter .view ul li:not(:last-child) {
    margin-right: 10px;
}

.category-search-filter .view ul li a {
    font-size: 15px;
}

.category-search-filter .view .view-switcher {
    background: #fff;
    padding: 10px 15px;
}

.nice-select {
    float: none;
    display: inline-block;
    border-radius: 0;
}

.nice-select .list {
    border-radius: 0;
}

.arrow-right, .arrow-left {
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #025fd3;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-right {
    right: -18px;
}

.arrow-left {
    left: -18px;
}

.product-item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.product-item .card {
    border: none;
}

.product-item .card .card-body {
    padding: 20px;
}

.product-item .card .card-body .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.product-item .card .card-body .card-text {
    color: #777;
}

.product-item .thumb-content {
    position: relative;
}

.product-item .thumb-content .price {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #5672f9;
    color: #fff;
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
}

.product-item .product-meta {
    margin-bottom: 15px;
}

.product-item .product-meta li {
    margin-right: 15px;
}

.product-item .product-meta li a {
    color: #888;
    font-size: 12px;
}

.product-item .product-meta li a i {
    margin-right: 4px;
}

.product-item .product-ratings li {
    margin-right: 1px;
}

.product-item .product-ratings li i {
    font-size: 18px;
    color: #dedede;
    cursor: pointer;
}

.product-item .product-ratings .selected i {
    color: #5672f9;
}

.product-details .product-title {
    font-size: 25px;
    font-weight: 600;
}

.product-details .tab-title {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.product-details .product-meta li {
    color: #888;
    margin-right: 25px;
}

.product-details .product-meta li a {
    color: #333;
    margin-left: 3px;
}

.product-details .content {
    padding-top: 40px;
}

.product-details .content h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-details .content p {
    color: #888;
    line-height: 22px;
}

.product-details .content .nav {
    text-align: center;
    margin-bottom: 5px;
}

.product-details .content .nav .nav-item {
    margin-right: 3px;
}

.product-details .content .nav .nav-item .nav-link {
    padding: 20px 30px;
    border-radius: 0;
    background: #fff;
}

.product-details .content .nav .nav-item .nav-link:hover {
    background: #5672f9;
    color: #fff;
}

.product-details .content .nav .nav-item .nav-link.active {
    background: #5672f9;
}

.product-details .content .tab-content {
    background: #fff;
    padding: 30px;
}

.product-slider {
    padding: 40px 0;
}

.product-slider .carousel-indicators li {
    background: #888;
}

.product-slider .carousel-indicators li.active {
    background: #5672f9;
}

.product-slider .slick-dots {
    display: flex;
    bottom: -50px;
}

.product-slider .slick-dots li {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 0;
}

.product-slider .slick-dots li:first-child {
    margin-left: 0;
}

.product-slider .slick-dots li:last-child {
    margin-right: 0;
}

.product-slider .slick-dots li img {
    max-width: 100%;
    height: auto;
}

.product-table {
    margin-top: 20px;
}

.product-table tr td:first-child {
    background: #f9f9f9;
}

.product-table tr td {
    padding-left: 25px;
}

.product-review img {
    width: 60px;
    margin-right: 20px;
}

.product-review .name h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-review .media-body {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.product-review .review-submission h5 {
    font-size: 16px;
    color: #888;
}

.product-review .review-submission .rate {
    margin-bottom: 20px;
}

.product-review .review-submission .rate i {
    margin: 0 5px;
}

.product-review .review-submission .form-control {
    margin-bottom: 8px;
    border-radius: 0;
}

.product-review .review-submission input[type="email"], .product-review .review-submission input[type="password"], .product-review .review-submission input[type="text"], .product-review .review-submission input[type="tel"] {
    height: 40px;
}

.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.widget .widget-header {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}

.widget.category-list ul li:not(:last-child) {
    border-bottom: 1px solid #F4F7F9;
}

.widget.category-list ul li a {
    padding: 8px 0;
    display: block;
    transition: all linear 0.3s;
}

.widget.category-list ul li a span {
    float: right;
    font-size: 10px;
    background: #F4F7F9;
    border-radius: 10px;
    padding: 3px 8px;
    color: #84919B;
}

.widget.category-list ul li a:hover {
    color: #5672f9;
}

.widget.category-list ul li a:hover span {
    background: #5672f9;
    color: #fff;
}

.widget.filter .nice-select {
    width: 100%;
}

.widget.filter .nice-select .list {
    width: 100%;
}

.widget.price-range b {
    font-size: 13px;
    color: #888;
}

.widget.price-range .slider.slider-horizontal {
    width: 100%;
}

.widget.price-range .slider-handle {
    background: #5672f9;
}

.widget.price-range .slider-track {
    margin-top: -2px;
    height: 5px;
    box-shadow: none;
    border-radius: 0;
    background: #f5f5f5;
}

.widget.price-range .slider-selection {
    background: #dedede;
    box-shadow: none;
}

.widget.price {
    background: #5672f9;
}

.widget.price h4 {
    color: #fff;
}

.widget.price p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.widget.map {
    padding: 10px;
}

.widget.map #map_canvas {
    height: 300px;
}

.widget.category ul.category-list li {
    margin-bottom: 8px;
}

.widget.category ul.category-list li a {
    font-size: 15px;
    letter-spacing: 0;
    display: block;
    color: #848484;
}

.widget.category ul.category-list li a:hover {
    color: #5672f9;
}

.widget.category ul.category-list li:last-child {
    margin-bottom: 5px;
}

.widget.archive ul.archive-list li {
    margin-bottom: 10px;
}

.widget.archive ul.archive-list li:last-child {
    margin-bottom: 5px;
}

.widget.archive ul.archive-list li a {
    font-size: 15px;
    letter-spacing: 0;
    display: block;
    color: #848484;
}

.widget.archive ul.archive-list li a:hover {
    color: #5672f9;
    text-decoration: underline;
}

.widget.share-coupon .sbHolder, .widget.share-coupon .form-control {
    margin-bottom: 10px !important;
}

.widget.share-coupon button {
    width: 100%;
}

.widget.coupon {
    background: #5672f9;
    padding: 35px 30px 40px 30px;
}

.widget.coupon p {
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 25px;
}

.widget.rate .starrr {
    display: flex;
    justify-content: center;
}

.widget.rate .starrr i {
    font-size: 20px;
    cursor: pointer;
    color: #e6b322;
    padding: 0 5px;
}

.widget.filter {
    padding-bottom: 17px;
}

.widget.filter .form-1 {
    margin-bottom: 20px;
}

.widget.filter .form-check-label {
    font-size: 14px;
    color: #848484;
}

.widget.filter .form-check-label input {
    margin-right: 10px;
}

.widget.filter .form-check-label input[type=checkbox]:checked .form-check-label {
    color: #5672f9 !important;
}

.widget.filter .form-check-label:hover {
    color: #5672f9;
}

.widget.user {
    padding-top: 50px;
}

.widget.user .image img {
    width: 157px;
    height: 157px;
    border-radius: 100%;
    border: 7px solid #dedede;
}

.widget.user h5 {
    font-size: 20px;
    margin-top: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget .welcome-message h2 {
    font-size: 30px;
    line-height: 54px;
    letter-spacing: .05em;
}

.widget .welcome-message p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    color: #848484;
}

.widget.personal-info .form-group, .widget.change-password .form-group, .widget.change-email .form-group {
    margin-bottom: 25px;
}

/*# sourceMappingURL=maps/style.css.map */
